@using WebUI.Constants
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizedView>
                <Authorized>
                    <a class="btn btn-link text-danger text-decoration-none fw-bold" href="@UIConstants.LogoutPageRoute">Logout</a>
                </Authorized>
            </AuthorizedView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>